/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#inline-translator * {
    font-family: 'Roboto', sans-serif;
}

#inline-translator .loader {
    border: 5px solid #bebebe;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
