/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#inline-translator * {
    font-family: 'Roboto', sans-serif;
}

.tw-dark #inline-translator .rodal-close:hover:before,
.tw-dark #inline-translator .rodal-close:hover:after {
    background: #fff;
}

#inline-translator .loader {
    border: 5px solid #bebebe;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.intlInlineMode_normal {
    font-style: normal;
}

.intlInlineMode_translatable,
.intlInlineMode_approvable,
.intlInlineMode_reportable {
    background: none;
    font-style: normal;
    padding: 0px;
    width: auto;
}

.intlInlineMode_reportable {
    border-bottom: 1px solid #f99;
}

.intlInlineMode_translatable,
.intlInlineMode_approvable {
    border-bottom: 1px solid #999;
}

.intlInlineMode_translatable:hover,
.intlInlineMode_approvable:hover,
.intlInlineMode_reportable:hover {
    background-color: #fcc;
    border-top: 1px solid #ccc;
    cursor: help;
}
